*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo_main{
  width: 100vw;
  height: 100vh;
  background-color: #001f3f;
  padding: 100px 0;
}

.todo_content{
  width: 400px;
  margin: auto;
}
input[type="text" ]{
  position: absolute;
  width: 400px;
}
.addButton{
  color: black;
  position: relative;
  left: 90%;
  margin-top: 7px;
}
.todo_list li{
  margin-bottom: 10px;
  border-radius: 0!important;
  background-color: #4c449c;
  color: white;
}
.todo_list li:hover{
  background-color: white;
  color: #4c449c;
}
.deleteButton{
  color: white;
  float: right;
  margin-left: 7px;
}
.todo_list li:hover > .deleteButton{
  color: red;
}
.editButton{
  float: right;
  color: white;
  margin-left: 7px;
}
.todo_list li:hover > .editButton{
  color: rgb(95, 93, 93);
}
.checkButton{
  color: white;
  float: right;
  margin-left: 7px;
}
.todo_list li:hover > .checkButton{
  color: green;
}
.buttonItem{
  margin-top: 10px;
  width: 100px;
}
.buttonItem::after{
  width: 100px;
  content: "Item List";
}
.buttonItem:hover::after{
  content: "Clear List";
  color: #001f3f;
}

@media screen and (max-width: 500px){
  .todo_content{
    width: 280px;
    margin: auto;
  }
  input[type="text" ]{
    position: absolute;
    width: 280px;
  }
}